<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DDProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertQuery</display-name>
    <servlet-name>InsertQuery</servlet-name>
    <servlet-class>com.InsertQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuery</servlet-name>
    <url-pattern>/InsertQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuery</display-name>
    <servlet-name>UpdateQuery</servlet-name>
    <servlet-class>com.UpdateQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuery</servlet-name>
    <url-pattern>/UpdateQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserQuery</display-name>
    <servlet-name>InsertUserQuery</servlet-name>
    <servlet-class>com.InsertUserQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserQuery</servlet-name>
    <url-pattern>/InsertUserQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserQuery</display-name>
    <servlet-name>UpdateUserQuery</servlet-name>
    <servlet-class>com.UpdateUserQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserQuery</servlet-name>
    <url-pattern>/UpdateUserQuery</url-pattern>
  </servlet-mapping>
</web-app>